<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.ArticleMapper">

	<resultMap id="oneArticle" type="com.study.vo.ArticleVo">
		<result column="article_pk"		property="articlePk"		javaType="Long"/>
		<result column="article_title"		property="articleTitle"	javaType="String"/>
		<result column="article_contents"	property="articleContents"	javaType="String"/>
		<result column="article_writer"		property="articleWriter"	javaType="String"/>
		<result column="apost_date"		property="postDate"		javaType="String"/>
	</resultMap>

   <insert id="insertOne" useGeneratedKeys="true" keyProperty="articlePk" keyColumn="article_pk">
        INSERT INTO article( article_title
                              , article_contents
                              , article_writer
                              , apost_date )
        VALUES (#{articleTitle}, #{articleContents}, #{articleWriter}, #{postDate})
   </insert>

   <select id="getReadArticle" resultMap="oneArticle">
        SELECT  *
        FROM    article
        WHERE   article_pk = #{articlePk}
   </select>

   <select id="countArticleList" resultType="integer">
        SELECT count(1)
        FROM article
   </select>

   <select id="getArticleList" resultMap="oneArticle">
        SELECT   *
        FROM     article
        ORDER BY article_pk
   </select>

    <update id="updateArticle">
        UPDATE article
        SET article_title = #{title}
            , article_contents = #{content}
            , article_writer = #{writer}
        WHERE article_pk = #{articlePk}
    </update>

    <delete id="deleteArticle">
        DELETE
        FROM article
        WHERE article_pk = #{articlePk}
    </delete>

    <update id="updateAttachmentYn">
        UPDATE article
        SET article_attachment_yn = #{updateValue}
        WHERE article_pk = #{articlePk}
    </update>

</mapper>