<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.article.mapper.ArticleMapper">

	<resultMap id="oneArticle" type="com.study.article.vo.ArticleVo">
		<result column="pk_article"		property="articlePk"		javaType="Long"/>
		<result column="article_title"		property="articleTitle"	javaType="String"/>
		<result column="article_contents"	property="articleContents"	javaType="String"/>
		<result column="article_writer"		property="articleWriter"	javaType="String"/>
		<result column="apost_date"		property="postDate"		javaType="String"/>
	</resultMap>

   <insert id="insertOne" useGeneratedKeys="true" keyProperty="articlePk" keyColumn="pk_article">
        INSERT INTO tb_article( article_title
                              , article_contents
                              , article_writer
                              , apost_date )
        VALUES (#{articleTitle}, #{articleContents}, #{articleWriter}, #{postDate})
   </insert>

   <select id="getReadArticle" resultMap="oneArticle">
        SELECT  *
        FROM    tb_article
        WHERE   pk_article = #{articlePk}
   </select>

   <select id="getArticleList" resultMap="oneArticle">
        SELECT   *
        FROM     tb_article
        ORDER BY pk_article
   </select>

    <update id="updateArticle">
        UPDATE tb_article
        SET article_title = #{title}
            , article_contents = #{content}
            , article_writer = #{writer}
        WHERE pk_article = #{articlePk}
    </update>

    <delete id="deleteArticle">
        DELETE
        FROM tb_article
        WHERE pk_article = #{articlePk}
    </delete>

</mapper>